bin/
etc/
lib/
license/
logs/
modules/
resources/
webapps/
NOTICE.md
README.txt
RUNNING.txt
VERSION.txt
start.ini
start.jar
data_dir/logs/
data_dir/coverages/
data_dir/data/
data_dir/demo/
data_dir/palettes/
data_dir/plugIns/
data_dir/user_projections/
data_dir/validation/
data_dir/www/
data_dir/csw.xml
data_dir/logging.xml
data_dir/README.rst
data_dir/wcs.xml
data_dir/wfs.xml
data_dir/wms.xml